*{
    padding: 0%;
    margin: 0%;
}

.wist-list{
    background-color: rgb(25, 203, 235);
    margin-top: 124px;
    h1{
        
height: 800px;
padding-left: 260px;
padding-top: 120px;
color: black

    }

.wist-list h1 a{
    padding-left: 60px;
    list-style: none;
}
}